[Unit]
Description=Othello Game

[Service]
Type=simple
User=othello
Group=othello
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4793"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/othello/othello
ExecStart=/home/othello/othello/start.sh

[Install]
WantedBy=multi-user.target
