/* This file is for your main application css. */

.tile {
    border: 2px solid black;
    width: 250px;
    height: 170px;
    padding: 25px;
    display: block;
    background: lightgrey;
    text-align: center;
    font-size: 30px;
}