/* This file is for your main application css. */

.board {
  margin: auto auto auto;
  background-color: green;
  border: 3px solid black;
}

.tile {
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: darkgreen;
  
  border-radius: 50%;
}

.tile:hover {
  background-color: yellow;
}

.tile.white {
  background-color: white; 
}

.tile.black {
  background-color: black; 
}

.othello {
  margin: auto auto auto;
  width: 45%;
  background-color: rgb(94, 64, 20);
}

.frame {
  background-color: rgb(94, 64, 20);
}